<p id="notice"><%= notice %></p>

<p>
  <strong>Time table:</strong>
  <%= @time_table.time_table %>
</p>

<%= link_to 'Edit', edit_time_table_path(@time_table) %> |
<%= link_to 'Back', time_tables_path %>
