<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment_date.date %>
</p>

<%= link_to 'Edit', edit_appointment_date_path(@appointment_date) %> |
<%= link_to 'Back', appointment_dates_path %>
