<p id="notice"><%= notice %></p>

<p>
  <strong>Specialty:</strong>
  <%= @specialty.specialty %>
</p>

<%= link_to 'Edit', edit_specialty_path(@specialty) %> |
<%= link_to 'Back', specialties_path %>
